<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>

    <h2>Employees</h2>
    <table>
        <tr>
            <th>Emp Id</th>
            <th>Emp No</th>
            <th>Emp Name</th>
            <th>Hire Date</th>
        </tr>
    </table>

    <!--<div>
        Hello World!!!{{text}}
    </div>-->
</body>
</html>