
<html>
<head>
    <title>Registration</title>
</head>
<body>
    <div>
        <form method="post">
            <div>Login</div>
            <input type="text" login="login" placeholder="Login">
            <div>Password</div>
            <input type="text" password="password" placeholder="Password">
            <div>Confirm password</div>
            <input type="text" cpassword="cpassword" placeholder="Confirm password">
            <div>Question</div>
            <div>*ComboBox*</div>
            <div>Answer</div>
            <input type="text" answer="answer" placeholder="Answer">
            <button type="submit">Registration</button>
        </form>
    </div>
    <div>
        <form action="/signIn">
            <button type="submit">Back</button>
        </form>
    </div>
</body>
</html>